@media screen and (max-width:1200px){
    .main-container{
        width: 960px;
        margin: 0 auto;
    }
    .nav-link {
        font-size: 1.9vw;
    }
    section{
        padding: 50px 0;
    }    
}
@media screen and (max-width:992px){
    .main-container{
        width: 720px;
    }
    header {
        margin: 80px 125px 50px 130px;
    }
    .nav-list-item {
        margin-left: 20px;
    }
    section {
        padding: 40px 0;
    }
    .skill-icon{
        width: 70px;
    }
    .wrrap-lang-educ {
        padding: 25px 50px;
    }
    .card {
        width: 45%;
    }        
}
@media screen and (max-width:768px){
    .main-container{
        width: 540px;
    }
    header{
        margin: 70px 90px 50px 105px;
    }
    .max-menu{
        display: none;
    }
    .nav-min {
        margin: 25px 0;
        display: block;
    }
    .nav-hamburg-menu {
        color: white;
        font-size: 1.2em;
        font-variant: small-caps;
        cursor: pointer;
        display: block;
        float: right;
    }
    .line-menu{
        width: 40px;
        height: 3px;
        border-radius: 10px;
    }
    .line-menu-marg{
        margin-bottom: 5px;
    }
    .slide {
        clear:both;
        width:100%;
        height:0px;
        overflow: hidden;
        text-align: center;
        transition: height .4s ease;
    }
    .slide li {
        padding: 10px 60px 10px 0;
        text-align: end;
    } 
    .slide a{
        color: #fff;
        font-weight: 600;
    }
    #touch{
        position: absolute; 
        opacity: 0; 
        height: 0px;
    }  
    #touch:checked + .slide {
        height: 180px;        
    }
    .line-menu{
        width: 60px;
        height: 4px;
        border-radius: 10px;
        background-color: #fff;
    }
    .line-menu-marg{
        margin-bottom: 10px;
    }
    .icon-btn-link{
        display: none;
    }
    .decor-name {
        font-size: 2.9vw;
    }
    .line-menu {
        width: 40px;
        height: 3px;
        border-radius: 10px;
        background-color: #fff;
    }
    .nav-link {
        font-size: 2.5vw;
    }
    .offer-text {
        font-size: 1.5vw;
    }
    section {
        padding: 20px 0;
    }
    .skill-icon{
        width: 70px;
        margin: 20px 0;
    }    
    .card {
        width: 60%;
    }
    .logo-portfolio{
        width: 40px;
    }
    .link-text {
        font-size: 1.8vw;
    }
    .icon-contact{
        width: 35px;
    }
    .lable-img {
        width: 25px;
    }
    input[type="submit"] {
        width: 37%;
        padding: 10px;
    }
    .home-link {
        width: 45px;
        height: 45px;
        border: 2px solid #fff;
    }
}
@media screen and (max-width:576px){
    .main-container{
        width: 100%;
        padding: 0 50px;
    }
    header {
        margin: 50px 50px 10px 50px;
    }
    .container-offer {
        flex-wrap: wrap;
    }
    .offer {
        width: 100%;
        text-align: center;
    }    
    .offer-h2 {
        font-size: 2.7vw;
    }
    h1 {
        font-size: 3vw;
        line-height: 1.2;
    }
    .offer-text {
        font-size: 2.7vw;
        margin-bottom: 30px;
    }
    .offer-btn{
        justify-content: center;
    }
    .text {
        font-size: 2.3vw;
    }
    .line-menu-marg {
        margin-bottom: 5px;
    }
    .container-offer {
        margin: 20px 0;
    }
    h1{
        margin: 20px 0;
    }    
    .icon-btn-link{
        display: none;
    }
    .btn-link-text {
        font-size: 2.5vw;
    }
    .photo {
        width: 100%;
        height: auto;
        justify-content: center;
        margin-top: 30px;
    }
    .wrrap-lang-educ{
        justify-content: center;
    }
    .container-language,
    .container-education{
        width: 50%;
        padding: 0 25px;
        justify-content: center;
    }
    .logo-portfolio{
        width: 34px;
    }
    .card {
        width: 70%;
    }    
    .title-card {
        margin: 10px 20px 20px;
    }
    .title-h2 {
        font-size: 3.5vw;
    }
    .title-language, .title-education {
        margin: 20px 0;
    }
    .skill-title {
        margin: 20px 0;
    }
    .title-experience {
        margin-bottom: 0;
        margin: 20px 0;
    }
    .title-h3 {
        font-size: 2.8vw;
    }
    .link-text {
        font-size: 2.8vw;
    }
    .container-contact, .container-form {
        width: 100%;
    }
    .flex-space-bet{
        flex-wrap: wrap;
    }
    .text-contact {
        font-size: 2.5vw;
    }
    .contact-input, .contact-textarea {
        padding: 15px 0 15px 15px;
    }    
    .contact-textarea {
        height: 100px;
    }
    .contact-lable {
        font-size: 2.5vw;
    }
    ::-webkit-input-placeholder{
        font-size: 2vw;
    }
    input[type="submit"] {
        font-size: 2.5vw;
        padding: 10px 30px;
    }
    .home-link{
        display: none;
    }
}
@media screen and (max-width:320px){
    .main-container{
        width: 100%;
        padding: 0 25px;
    }
    header {
        margin: 25px;
    }
    .decor-name {
        font-size: 3.5vw;
    }
    .line-menu {
        width: 30px;
    }
    .nav-min {
        margin: 0;
    }
    .min-link{
        font-size: 3vw;
    }
    .slide li {
        padding: 10px 35px 5px 0;
    }
    #touch:checked + .slide {
        height: 105px;
    }
    section {
        padding: 10px 0 20px 0;
    }
    .skill-icon {
        width: 55px;
        margin: 15px 0;
    }
    .wrrap-lang-educ {
        padding: 10px 0px;
    }
    .home-link{
        display: none;
    }
}        