@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap')
$color-red: #8c1010
@mixin flex
    display: flex
    justify-content: space-between
@mixin flex-center
    display: flex
    justify-content: center
    align-items: center
@mixin title-h2
    font-size: 2.7vw
    line-height: 1.5
    text-align: center
@mixin title-h3
    font-size: 1.8vw
    font-weight: 700
    line-height: 1.5
    text-align: center
@mixin text
    font-size: 1.8vw
    font-weight: 500    
    text-align: center
    line-height: 1.5
@mixin link
    font-size: 1.4vw
    // font-size: (calc(14px + 2 * ((100vw - 420px) / 860)))
    font-weight: 600    
    text-align: center
    line-height: 1.5    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Montserrat', sans-
    color: #fff
// body
//     background-image: linear-gradient(to right top, #06162e, #8c1010)
// ul
//     list-style: none
// a
//     text-decoration: none
// a, img, span
//     display: block
// section
//     padding: 80px 150px
//     border-bottom: 1px solid #fff     
//     nav
        // @include flex
        // align-items: center
        // .name-container
        //     @include flex-center
            // .decor-name
            //     @include text
            // .my-name            
            //     margin-right: 10px
            // .last-name
            //     color: $color-red
        // .list-nav
        //     @include flex
        //     li
        //         margin-left: 30px 
        //         .nav-link
        //             font-size: 1.4em
        //             font-weight: 600
        //             padding: 0 0 5px 0
        //             position: relative
        //         .nav-link::before
        //             content: ''
        //             position: absolute
        //             bottom: 0
        //             right: 0
        //             width: 0
        //             height: 3px
        //             border-radius: 0 5px
        //             background-color: #fff
        //             transition: width 0.5s cubic-bezier(0.25, 1, 0.5, 1)
        //         @media (hover: hover) and (pointer: fine)
        //         .nav-link:hover::before
        //             left: 0
        //             right: auto
        //             width: 100%
// .container
//     @include flex
//     align-items: center
//     margin: 80px 0
    // .offer
    //     width: 50%
    //     .offer-title
    //         font-size: 1.8em
        // h1
        //     margin: 50px 0
        //     line-height: 1.6
        //     font-size: 2.2em
        //     .sub-title
        //         color: $color-red
        // .offer-text
        //     font-size: 1.8em
        //     font-weight: 600
        //     line-height: 1.6
        //     margin-bottom: 50px
        // .wrrap-btn
        //     display: flex
        //     justify-content: start
            // .btn-link-portfolio
            //     @include flex-center
            //     background-color: $color-red
            //     font-weight: 600
            //     font-size: 1em
            //     padding: 10px 30px
            //     margin-right: 20px
            //     border-radius: 20px
            //     .icon
            //         margin-left: 15px
            // .btn-link-portfolio:hover
            //     background: transparent
    // .photo
    //     width: 50%
    //     height: auto
    //     display: flex
    //     justify-content: flex-end
    //     .img-photo
    //         width: 70%
    //         height: auto
    //         border-width: 4px
    //         border-style: solid
    //         border-image: linear-gradient(to bottom, #8c1010, rgba(0, 0, 0, 0)) 1 100%
    //         border-image-width: auto            
    //         object-fit: cover
    //     .img-photo:hover
    //         filter: blur(1.8px)
// .second-screen
//     .skill-title
//         @include title-h2
//         margin: 40px 0
//         transform: scale(1)
//         transition: transform 0.7s
//     .skill-title:hover
//         transform: scale(1.3)
//         opacity: 0.2
    // .skill-list
    //     @include flex
    //     li
    //         .skill-name
    //             @include title-h3
    //             padding: 10px 0
    //         .skill-icon
    //             margin: 30px auto
    //             transform: scale(1)
    //             transition: transform 0.7s
    //         .skill-icon:hover    
    //             transform: scale(1.3)
    //             opacity: 0.2
    // .wrrap-lang-educ
    //     @include flex
    //     padding: 50px 100px
    //     .title-language,
    //     .title-education
    //         @include title-h3
    //         transform: scale(1)
    //         transition: transform 0.7s
    //         margin: 20px 0
    //     .title-language:hover,
    //     .title-education:hover
    //         transform: scale(1.3)
    //         opacity: 0.2
        // .language-name,
        // .education-name
        //     @include text
        //     padding: 10px 0
        //     transition: transform 0.7s
        // .language-name:hover,
        // .education-name:hover
        //     transform: scale(1.2)
        //     color: #06162e
// .third-screen
//     .title-experience
//         @include title-h2
//         margin-bottom: 30px
//     .container-card
//         width: 100%
//         display: flex
//         justify-content: center
//         flex-wrap: wrap
//         .card
//             width: 25%
//             border: 2px solid white
//             overflow: hidden
//             margin: 20px
//             .title-card
//                 @include flex-center
//                 @include title-h3                
//                 margin: 40px 0
            //     .logo-portfolio
            //         margin-right: 5px
            //     .logo-rozetka
            //         width: 64px
            //         height: 64px
            //         padding: 10px
            //     .logo-facebook
            //         margin: 10px 
            //     .logo-wikipedia
            //         width: 60px
            //         height: 60px
            //         padding: 10px
            //         margin: 0
            // .card-image
            //     width: 100%
            //     height: 200px                
            //     transition: transform 0.7s
            // .card-image:hover
            //     transform: scale(1.2)
            // .link-wrrap
            //     @include flex-center
            //     margin: 40px 0
//                 .experience-link
//                     @include link
//                     margin: 20px
//                     position: relative
//                 .experience-link::before
//                     content: ''
//                     position: absolute
//                     bottom: 0
//                     right: 0
//                     width: 0
//                     height: 3px
//                     border-radius: 0 5px
//                     background-color: #fff
//                     transition: width 0.5s cubic-bezier(0.25, 1, 0.5, 1)
//                 @media (hover: hover) and (pointer: fine)
//                 .experience-link:hover::before
//                     left: 0
//                     right: auto
//                     width: 100%
// .contact-wrrap
//     @include flex
    // .container-contact,
    // .container-form
    //     width: 50%
    //     .contact-title,
    //     .form-title
    //         @include title-h2
    //         margin-bottom: 30px
        // .contact-list
        //     margin: 15px 0
            // .contact-link
            //     display: flex
            //     align-items: center                
            //     .icon-contact:hover
            //         opacity: 0.2
            //     .contact-text
            //         @include text
            //         margin: 0 0 0 10px
        form
            label
                display: flex
                align-items: center
                font-size: 1.1em
                font-weight: 600
                img
                    margin-right: 10px
            input, textarea
                width: 100%
                padding: 15px 0 15px 10px
                outline: none
                margin: 15px 0
                color: black
                font-size: 1.3em
                font-weight: 500
                color: #fff
                border: 2px solid #fff
                background: transparent
                margin: 15px 0
            ::-webkit-input-placeholder
                color: #f5b8b8
                font-weight: 500
                font-size: 0.85em
            textarea
                resize: none
                height: 135px
            .btn-submit
                display: flex
                justify-content: center
                align-items: center
                input[type="submit"]
                    width: 30%
                    padding: 15px
                    outline: none
                    border-radius: 15px
                    color: #d32929
                    font-weight: 700
                    font-size: 1.3em
                    transform: scale(1)
                    transition: transform 0.7s
                input[type="submit"]:hover
                    transform: scale(1.2)
                    color: green
.home-link
    @include flex-center
    width: 60px
    height: 60px
    border: 3px solid #fff
    border-radius: 100%
    background-color: rgba(0,0,0,0)
    position: fixed
    bottom: 50px
    right: 30px
.home-link::after
    content: "⬆"
    width: 14px
    height: 20px